<h1>Burgers!</h1>

<div class="burger-image"></div>

<div class="below-list">
  <h2 style='float: clear:both;'>Add a burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="burger" class="burger-style">Burger Name:</label>
      <input type="text" id="burger" name="name">
    </div>
      <button type="submit" class="burger-button">Add burger</button>
</div>

<div class="listOne">
  <h2>ARE YOU HUNGRY?</h2>
  <ul>
    {{#each burgers}}
    {{#unless eaten}}
    {{> burgers/burger-block eaten=true}}
    {{/unless}}
    {{/each}}
  </ul>
</div>


<div class="listTwo">
  <h2>YOU'VE EATEN ME!</h2>
  <ul>
    {{#each burgers}}
    {{#if eaten}}
    {{> burgers/burger-block eaten=false}}
    {{/if}}
    {{/each}}
  </ul>
</div>


</form>